---
---
<div class="flex items-start space-x-2 my-6">
  <div class="flex items-center h-5">
    <input
      id="consent"
      type="checkbox"
      class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
      required
    />
  </div>
  <label for="consent" class="text-sm text-gray-600">
    Confirmo que soy el propietario de los datos a analizar y consiento que se realice un análisis sobre los mismos.
  </label>
</div>